@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fall {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(calc(100vh + 100px));
  }
}

.MakeItFuckingRain {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  .Cheese {
    position: absolute;
    font-size: 8rem;
    transform: translateY(-400px);
    user-select: none;
  }
}
