.Scorecard {
  background: rgb(223, 118, 123);
  border-radius: 20px;
  max-width: 750px;

  &-title {
    color: white;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 4rem;
    margin: 20px -6rem 0 0;
    font-weight: 900;
  }
}

.Bingo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  padding: 10px;
  background: white;
  border-radius: 10px;
  margin: 20px;

  &:before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  & > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  .Square {
    border: 2px solid #e2e2e2;
    border-right: none;
    border-top: none;

    &:nth-child(5n+6), &:first-child {
      border-left: none;
    }

    &:nth-child(1n+21) {
      border-bottom: none;
    }
  }
}
