.Square {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  padding: 10px;
  font-size: 0.8rem;

  &.checked {
    // color: #cdcdcd;
    background-image: url("/green-check.png");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 50%;

    span {
      opacity: 0.2;
    }
  }

  img {
    height: 46px;
    width: 46px;
  }
}
